In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
frame = DataFrame([[2,3,4,5,'pear'],['a','s','d','f','rabbit'],[5,2,5,7,'dog']],columns=['q','r','s','t','fruit'])

In [6]:
frame

   q  r  s  t   fruit
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [9]:
frame.to_csv('my_frame_out.csv',sep='_',header=True)

In [11]:
import sys

In [14]:
pd.read_csv('my_frame_out.csv',sep='_',nrows = 2)

   Unnamed: 0  q  r  s  t   fruit
0           0  2  3  4  5    pear
1           1  a  s  d  f  rabbit

In [15]:
import webbrowser

In [16]:
url = 'https://docs.python.org/2/library/csv.html'

webbrowser.open_new_tab(url)

True

In [18]:
from pandas import read_html

In [19]:
#url for the failed banks

url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [28]:
bank_data = pd.read_html(url)[0]

In [32]:
bank_data.head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
5,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"
6,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","January 29, 2019"
7,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","January 29, 2019"
8,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","September 20, 2019"
9,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","May 13, 2019"

In [33]:
pd.__version__

'0.24.2'

In [34]:
pip install html5lib

Requirement already satisfied: html5lib in /anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: webencodings in /anaconda3/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /anaconda3/lib/python3.7/site-packages (from html5lib) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
pip install beautiful-soup

Collecting beautiful-soup
  ERROR: Could not find a version that satisfies the requirement beautiful-soup (from versions: none)
ERROR: No matching distribution found for beautiful-soup
Note: you may need to restart the kernel to use updated packages.